body {
    color: white;
    background-image: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5)), url("https://images.pexels.com/photos/1341279/pexels-photo-1341279.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
    );
    background-color: black;
    text-align: center;
}

.titleName {
    font-family: 'Star Wars', sans-serif;
    font-size: 100px;
    letter-spacing: .3rem;
}

.recipeTitle {
    font-family: 'Star Wars', sans-serif;
    font-size: 50px;
    letter-spacing: .3rem;
}

ul {
    list-style-type: none;
}

.flex-container {
    display: flex;
}

.flex-container div {
    color: lightskyblue;
    height: 100px;
    flex: 1;
    padding: 20px;
}

.container {
    display: grid;
    justify-content: center;
    align-items: center;
    height: 100px;
}