body {
    color: white;
    background-image: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5)), url("https://images.pexels.com/photos/1341279/pexels-photo-1341279.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
    );
    background-color: black;
    text-align: center;
}

.titleName {
    font-family: 'Star Wars', sans-serif;
    font-size: 100px;
    letter-spacing: .3rem;
}

.recipeTitle {
    font-family: 'Star Wars', sans-serif;
    font-size: 50px;
    letter-spacing: .3rem;
}

/* .rebel-logo {
    max-width: 10%;
    max-height: 10%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
} */

ul {
    list-style-type: none;
}

.flex-container {
    display: flex;
}

.flex-container div {
    flex: 1;
    padding: 20px;
}

.container {
    display: grid;
    justify-content: center;
    align-items: center;
    height: 100px;
}

.recipe-img {
    border: 5px solid white;
}

a:link
{
    color:#FFFFFF;
    font-size: 20px;
}

a:visited
{
    color:#FFFFFF;
}

a:hover 
{
    color:#FFFFFF;
}

